# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dev-Studio temporaries
*.ncb
*.suo
*.user
*.tss
*.sdf
*.opensdf
*.opendb
*.VC.db

# Intermediates and other built files
Build/